
 /* image*/
 .image-frame{padding:5px;border:1px #ccc solid;margin:5px;}
 
 
 
 
p {color:#000;font-size:14px;line-height:150%;
    margin:15px 0;}
	
#image1 h2{font-size:20px;color:#000 solid;
padding-bottom:15px;margin-bottom 15px;}
 

body{background-color:#E8DDCA; }
#outer{width:960px;margin:0 auto;background-color:#FFF }
#container{width:900px; margin:0 auto;height:1040px; background-color:#FFF } 
#tabs{clear:both;}
#tabs ul{border-top:2px #000 solid;border-bottom:2px #000 solid;
          margin:20px 0;padding:10px 0;    } 
#tabs ul  li{display:inline;}
#tabs ul li a{padding: 0 15px;  }
#tabs a:link{color:#000;font-weight:bold;}
#tabs a:visited{color:#000;}
#tabs a:active{color:#000;}
#tabs a:focus{color:#666;}
#tabs a:hover{color:#f90;}
#homepage{margin-bottom:30 px;} 
#image1{width:650px;float:left;} 
#rightside{width:200px:float:right;   }
#icons{
float:right;

}
#icons ul li{
display:inline;
}
#icons ul{
margin-top:40px;

 
}

#footer{
clear:both;
margin-top:200px;
padding-bottom:20px;
text-align:center;
font-size:12px;
border-top:3px blue solid;
}
#footer p{
color:#BB5E00;
}
#title{
margin:30px 0px;
padding-top:20px;

}
#image1 h2{
color:#3BB9FF;
}
#rightside{
color:#3BB9FF;
}





